@tailwind base;

@tailwind components;

@tailwind utilities;

/* .bodyImg{
    background-image: url('../assets/images/dukeBehind.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    filter: blur(8px);
    height: 100%;

  -webkit-filter: blur(8px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
  } */