* {
    transition: 0.35s ease;
}

:root {
  --resume-theme-color: #328AE8;
  --resume-page-color: #f9f9f9;
  --resume-back-color: #eeeeee;
}

body{
    font-family: 'Baloo Thambi 2', cursive;
    padding: 5px;
    background-color:var(--resume-back-color) ;
    /*content: justify;*/
    justify-content: center;
    display: flex;
}

.mainContainer{
    width: 60%;
    background: var(--resume-page-color);
    min-height: 500px;
    -webkit-box-shadow:6px 10px 28px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4);
    box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4);
    padding-top: 0px;
    margin-top: 3rem;
  margin-bottom: 3rem;
    /*border: #000 solid 1px;*/
}
.header{
    position: relative;
}

.title{
    display:flex;
    background-color: var(--resume-theme-color);
    margin-top: 0px;
    justify-content: start;
    min-height: 100px;
    align-items: flex-end;
    padding-bottom: 10px;
  padding-top: 10px;
}

.title p{
    color: #fff;
    font-size: 3.5rem;
    margin: 0px;
    padding-left: 10px;
}

#basicInfo{
    border: none;
    width: 100%;
}
#dpImgDiv{
    position: absolute;
    right: 25px;
    top: 30px;
    height: 102%;
    overflow: hidden;
}
#dpImg{
    height: 80%;
    border: var(--resume-theme-color) solid 15px;
    border-top:0px;
}

#infoBox{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    width: 100%;
    /* border: #333333 solid 1px; */
    justify-content: start;
    border-bottom: 3px #333333 solid
}

#infoBoxText{
    padding-left: 10px;
}

#infoBoxText h4{
    padding-top: 5px;
}

#infoBoxText > * > a{
  text-decoration: none;
  color: #0f0f0f;

}
#infoBoxText > * > a:hover{
  text-decoration: underline;
  color: #2f77a7;
}

.expBox{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    justify-content: flex-start;
    /* border-bottom: 2px #333333 solid; */
}


.heading{
    width: 20%;
}
.heading h3{
    padding-left: 10px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--resume-theme-color);
    float: left;
    width: 80%;
    font-size: 1.5rem;
}
.repContent{
    /* border: #333333 solid 1px; */
    color: #333333;
    font-weight: 700;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

.arrow{
    width: 0;
    float: left;
    height: 0;
    border-top: 1.8rem solid transparent;
    border-bottom: 1.8rem solid transparent;
    border-left: 2rem solid var(--resume-theme-color);
}

.arrow-small{
    width: 0;
    float: left;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--resume-theme-color);
    margin-right: 10px;
}
.entry{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.serialNumBox{
    float: left;
    padding-top: 3px;
}

.contentBox{
    float: left;
    font-size: 1.2rem;
}
.contentBox h3{
    margin: 0px;
    text-decoration: underline;
}
.contentBox h4{
    margin: 0px;
}
