* {
    transition: 0.35s ease;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    background-color:#39A8FA ;
    content: justify;
    justify-content: center;
    display: flex;
}

.mainContainer{
    width: 60%;
    background: rgb(226, 247, 255);
    min-height: 500px;
    -webkit-box-shadow: -1px 10px 13px 1px rgba(0,0,0,0.65);
    -moz-box-shadow: -1px 10px 13px 1px rgba(0,0,0,0.65);
    box-shadow: -1px 10px 13px 1px rgba(0,0,0,0.65);
    padding-top: 0px;
    border: #000 solid 1px;
}
.header{
    position: relative;
}

.title{
    display:flex;
    background-color: #0A1863;
    margin-top: 0px;
    justify-content: center;
    min-height: 100px;
    align-items: flex-end;
    padding-bottom: 10px;
}

.title p{
    color: #fff;
    font-size: 45px;
    margin: 0px;
    padding-left: 10px;
}

#basicInfo{
    border: none;
    width: 100%;
}
#dpImgDiv{
    position: absolute;
    right: 25px;
    top: 20px;
    height: 90%;
    overflow: hidden;
}
#dpImg{
    height: 80%;
    border: #0A1863 solid 15px;
    border-top:0px;
}

#infoBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: #333333 solid 1px; */
    justify-content: center;
    border-bottom: 3px #333333 solid
}

#infoBoxText{
    padding-left: 10px;
}

#infoBoxText h4{
    padding-top: 5px;
}

#expBox{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    justify-content: flex-start;
    /* border-bottom: 2px #333333 solid; */
}


#heading{
    width: 20%;
}
#heading h3{
    padding-left: 10px;
    padding-right: 10PX;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0A1863;
    float: left;
    width: 80%;
}
#repContent{
    /* border: #333333 solid 1px; */
    color: #333333;
    font-weight: 700;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

.arrow{
    width: 0; 
    float: left;
    height: 0; 
    border-top: 22px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 20px solid #0A1863;
}

.arrow-small{
    width: 0; 
    float: left;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #0A1863;
    margin-right: 5px;
}
.entry{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.serialNumBox{
    float: left;
    padding-top: 3px;
}

.contentBox{
    float: left;
}
.contentBox h3{
    margin: 0px;
    text-decoration: underline;
}
.contentBox h4{
    margin: 0px;
}