.border{
  border:solid red thin;
}
body{
  font-family: 'Ubuntu Condensed', sans-serif;
}
header{
	padding-top: 14px;
	position: fixed;
	z-index: 1000;
	margin: auto;
	width: 100%;
    transition: all 0.5s ease !important;
}
navbar-nav{
  width: 100%;
}
.transhead{
    transition: all 0.5s ease !important;
  /*border: solid red thin !important;*/
}
.transhead .navbar-header img{
  transition: all 0.5s ease !important;
  height: 32px !important;
  width: 80px !important;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  margin-right: 60px !important;
  /*border:solid thin red;*/
  /*padding-right: 20px !important;*/
}
.transhead .navbar-header h2{
  transition: all 0.5s ease !important;
  font-size: 24px !important;
  margin-top: 13px !important;
}
.transhead #myNavbar a{
  transition: all 0.5s ease !important;
  font-size: 20px !important;
  margin-top: 2px !important;
}
#head{
  transition: all 0.5s ease;
}
#head img{
  transition: all 0.5s ease !important;
  height: 45px;
  width: 120px;
  margin-top: 20px;
  margin-right: 43px;
  margin-bottom: 17px;
}
#head h2{
  transition: all 0.5s ease !important;
  margin: 0px;
  margin-top:18px;
  margin-left: 12px;
  padding: 0px;
  font-size: 35px;
  float: left;
  color: #9d9d9d;
}
#myNavbar a{
  font-size: 20px;
  margin-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
}
/*----------------------Section 1------------------------*/
/* The hero image */
.hero_faux_image {
    /* The image used */
    background-image: url(../images/slider/2.jpeg) ; 

    /* Set a specific height */
    height: 100px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image {
    /* The image used */
    background-image: url(../images/slider/2.jpg);

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-40%, -50%);
    color: #eeeff5;
}
.hero-text h1{
  font-size: 70px;
  font-weight: 500;
  line-height: 130%;
}
.hero_btn{
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: #BF360C;
}
.hero_btn h3{
  color: white;
  margin: 15px;
}
/*------------Section 2------------*/
.sec_2{
  background: #eeeeee;
}
.sec_2_r1 h3{
  color: #34495E;
  font-weight: 600;
  font-size: 60px;
}
.sec_2_r2{
  margin-top: 20px;
}
.sec_2_r2box{
  /*border:solid thin red;*/
}
.sec_2_r2box img{
  height: 80px;
  width: 80px;
  transition: 0.5s ease;
}
.sec_2_r2box h3{
  color: white;
  font-size: 20px;
  text-align: center;
  color: #34495e;
  /*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
}
.sec_2_r2box p{
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.sec_2_r2box:hover img{
  transform: translateY(-8px);
  transition: 0.5s ease;
}
/*------------Section 2 Close------------*/
/*------------Section 2.4 ------------*
.sec_2{
    background:#1b5773 ;
    background-size: cover; 
}
.sec_2_box h3{
    color:white;
    font-size: 55px;
    font-weight: bolder;
}
.sec_2_box p{
    font-size: 20px;
    color: darkgray;
}
.sec_2_r2{
    margin-top: 40px;
}
.sec_2_sliditem{
  overflow:hidden;
  transition: .5s ease;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0FA7CF;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.sec_2_sliditem:hover .overlay {
  opacity: 0.8;
}
.sec_2_sliditem:hover img{
    transform: scale(1.5);
  transition: .5s ease;
}
/*-------------Section 2.4 Close-------------*/
/*------------Section 3------------*/
.sec_3{
    background:url(../images/slider/3.jpg) no-repeat center;  
    background-size: cover;
}
.sec_3_back{
  width: 100%;
  height: 100%;
  background: rgba(0,0,50,0.6);
}
.sec_3_r1{
    margin-top: 120px;
}
.sec_3_r1 p{
  color: white;
  font-size: 30px;
}

/*
.sec_3 button{
	border: solid thin white;
	border-radius: 5px;
	background-color: orange;
	color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	margin: 8px;
}*/
.sec_3_r2{
  margin-top: 80px;
}
.hexagon_box{
  padding-right: 14px;
}
.hexagon_box h3{
  color: #75c6d1;
  text-transform: capitalize;
  margin-top: 80px;
  text-align: center;
}
.hexagon_box img{
  margin: auto;
}
/*----------Hexagon-----------*/
.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px;
  margin-top: 50px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #64C7CC;
} 
/*-------------- Section 4 ------------------*/
.sec_4{

  background: url('../images/slider/4.jpg') center;
  background-color: #eeeeee;

    background-repeat: no-repeat;
    background-size: cover;
}
.sec_4_r1{
  margin-top: 30px;
  /*border: solid thin red;*/
}
.sec_4_r2{
  /*border:solid thin green;*/
  overflow: visible;
  padding-top: 10px;
}
.sec_4_r3{
   padding-top: 10px;
  /*border: solid thin blue;*/
}
#man{
  height: 70px;
  width: 45px;
  /*border:solid thin red;*/
  animation-duration: 2s;
  animation-delay: 0.5s;
}
#mobile{
  height: 250px;
  width: 160px;
  animation-delay: 4s;
  animation-duration: 2s;
}
#wifi_3{
  position: relative;
  height: 160px;
  width: 160px;
  margin-left: 28px;
  margin-top: 35px;
  animation-delay: 2s;
  animation-duration: 2s;
  /*border: solid thin black;*/
}
#b_tick{
  animation-delay: 6s;
  /*border: solid thin darkred;*/
  animation-duration: 1s;
  margin-top: 150px;
  height: 35px;
  width: 35px;
  animation-name: fadeIn ;
  -webkit-animation-name: fadeIn;
}
/*-------------- Section 4 Close ------------------*/
/*-------------- Section 5 --------------------*/
.sec_5{
 background: url('../images/slider/5.jpg') center;
  background-color: #eeeeee;

    background-repeat: no-repeat;
    background-size: cover;
}
.sec_5 h3{
  color: #052e42;
  font-size: 85px;
  margin-top: 60px;
  animation-duration: 1s;
}
.sec_5 p{
  font-size: 26px;
  animation-delay: 1s;
}
/*-------------- Section 5 Close --------------------*/
/*-------------- Section 5.1 ------------------
.sec_5{
  background-image: url('../images/5.jpg');
}
.sec_5_r1 h3{
  color: #34495E;
  font-weight: 300;
  font-size: 30px;
}
.sec_5_r2{
  margin: 60px;
}
.sec_5_r2box{
  padding: 2px;
}
.sec_5_r2box_low{
  background: #efefef;
  margin-top: -20px;
  padding-top: 2px;
  padding-left: 2px;
}
.sec_5_r2box_low h3{
  color: #34495E;
}
.sec_5_r2box_low p{
  color: #34495E;
}
.sec_5_r2box:hover .sec_5_r2box_low{
  background: #cf0b2c;
  transition: .5s ease;
}
.sec_5_r2box:hover .sec_5_r2box_low h3{
  color: white;
  transition: .5s ease;
}
.sec_5_r2box:hover .sec_5_r2box_low p{
  color: white;
  transition: .5s ease;
}
------------------- Section 5.1 -----------------------*/
/*----------------- Section 6--------------------------*/
.sec_6{
  background: #2a373f;
}
.sec_6_r1 h3{
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.sec_6_r2 p{
  color: white;
  font-size: 20px;
}
.sec_6_r2 button,.sec_6_r3 button{
  background: #cf0b2c;
  color: white;
  font-size: 20px;
  border: none;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sec_6_r3{
  margin-top: 30px;
}
.sec_6_r3 h3{
  font-size: 25px;
  color: white;
  font-weight: bolder;
}
.sec_6_r3 p{
  font-size: 20px;
  color: white;
  font-weight: 200px;
}